<footer class="site-footer">
  <div class="container">
    <p style="font-size: 14px; font-weight: 600"><a href="/about/">About</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/contact/">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/nicotuck/nicotuck.github.io">GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p style="margin-top: 15px; font-size: 14px;">&#169; {{ site.time | date: '%Y' }}. <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. Made by a 🦈 in Massachusetts.</p>
  </div>
</footer>
<script type="text/javascript" src="/assets/javascript/anchor.min.js"></script>
<script>
  anchors.options = {
  placement: 'right',
  };
  anchors.add('h1, h2, h3, h4, h5').remove('.no-anchor');
</script>
