<!DOCTYPE html>
<html>

<head>
    <title>Wheel Rolling</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #draw-area {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <div id="draw-area"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.8.10/two.min.js"
        integrity="sha512-D9pUm3+gWPkv/Wl6vd45vRLjdkdEKGje7BxOxYG0N6m4UlEUB7RSljBwpmJNAOuf6txLLtlaRchoKfzngr/bQg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/javascript/box2d.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
    <script src="b2Wheel.js"></script>
</body>


</html>